<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skills</title>
</head>
<body>
    <h1>Skills</h1>
    <ul>
        <% skills.forEach(function(skill) { %>
        <li>
            <%= skill.skill %>
            <!-- Display the skill -->
            <form action="/skills/<%= skill.id %>?_method=DELETE" class="delete-form" method="POST">
                <button type="submit">Delete</button>
                <!-- Changed type to "submit" for the delete button -->
                <form action="/skills/<%= skill.id %>/edit" method="GET">
                  <button type="submit">Edit</button>
              </form>
              
        </li>
        <% }) %>
    </ul>

    <a href="/skills/new">Add Skills</a>
</body>
</html>
